body {
    background-color: c1713c;
}
#me {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 16;
    font-size: 5em;
    font-style: italic;
    font-family: 'Times New Roman', Georgia, serif;    
}
#contactlink {
    font-size: 1.3em;
}
section p {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#skills {
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
}
#smiley {
    margin-left: 400px;
    font-style: italic;
    padding-bottom: 50;
}
#firsttable {
    border-collapse: collapse;
    width: 33%;
    margin-left: 200;
}
#firsttable, th {
    border: 1px solid black;
}
#firsttable, th {
    text-align: left;
    height: 35px;
    vertical-align: bottom;
}
#firsttable, .ft-td {
    border-bottom: 1px solid black;
    text-align: left;
    vertical-align: top;
}
tr:nth-child(even) {
    background-color: c77c4b;
}
p.funtitle {
    color: red;
    text-shadow: 1.5px -1.5px yellow;
    text-decoration: underline;
    text-transform: capitalize;
    font: 2.5em italic, bold, 'Times New Roman', Georgia, serif;
}
#ft-main {
    text-indent: 35%;
}
#ft-2 {
    text-indent: 20%;
}
#gif-1 {
    z-index: -1;
}
.coverphoto {
    position: fixed;
    left: 69%;
    
}
.foodtable {
    width: 50%;
    margin-left: 15%;
    margin-bottom: 0;
}
.tdtext {
    text-align: left;
    vertical-align: top;    
}
#copyright {
    text-align: center;
    margin: 150px;
}
nav ul {
    text-align: center;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20;
    font-size: 1.25em;
}
article {
    margin-bottom: 200;
}
footer {
    text-align: center;
}