body {
    background-color: c1713c;
}
#me {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 33%;
    margin: 50;
}
table, th {
    border: 1px solid black;
}
th {
    text-align: left;
    height: 35px;
    vertical-align: bottom;
}
td {
    border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color: c77c4b;
}